*{
  font-family: 'Work Sans', sans-serif;
}

.navbar{
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.219);
}
.logo{
margin-top: 1rem;
padding-bottom: 1rem;
}

.navbar-nav, .nav-item{
  margin-left: 2rem;
}

.nav-link{
  color: #14171F;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.nav-link:hover{
  color: #0AC5A8;
}
.dropdown-menu li{
  font-size: 1rem;
  font-weight: 400;
  padding: .5rem;
}

.nav-end{
  display: flex;
}

 .nav-end a{
  margin-right: 1rem;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  background-color: #0AC5A8;
  color: #fff;
  border-radius: .7rem;
  border: .3rem solid #0AC5A8;
  transition: .3s;
}

.nav-end a:hover{
  background-color: #fff;
  color: #0AC5A8;
}

.nav-end button{
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #0AC5A8;
  border-radius: .7rem;
  border: .3rem solid #0AC5A8;
  transition: .3s;
}

.nav-end button:hover{
  background-color: #0AC5A8;
  color: #fff;
} 
/*









*/


nav{
    
}

.container-fluid{
    
}

* {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 14px;
    font-size: 10px;
    border: none !important;
     color: rgb(241, 18, 18) !important;
    width: 33%;
    background: #475c83;
    border-radius: 20px;
    transform: translate(-40% , 0%);
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 13%;
    padding: 7px;
    background: #0ac5a8;
    color: white;
    font-size: 8px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-radius: 20px;
    transform: translate(9% , 26%);

  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
    
  }
  
  ::placeholder { 
    color: #fff;
    opacity: 1; 
    margin-left: 3rem;
  }

  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      #caller{
        transition: ease-out 0.4s;
      }

      #caller:hover{
          background-color: #d3d6d3 !important;
          color: #0ac5a8;
          transition: 0.4s;
      }

      .footage:hover{
          color: #0ac5a8;
      }

      .footer-footer{
        background-color: #0AC5A8;
        width: 100%;
        margin-top: 10rem;
        overflow: hidden;
        bottom: 0;
      }
      
      .footer-wrapper{
        text-align: center;
      }
      
      .wrapper-end p{
        color: #fff;
        font-size: 1.4rem;
      }

      